<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P6FullHistory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <P6FullHistory.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value>d:\temp\out.csv</value>
            </setting>
            <setting name="Tasks" serializeAs="String">
                <value>SELECT *  from task where delete_date is null and proj_id in (select proj_id from project where proj_short_name in ({0}))</value>
            </setting>
            <setting name="TaskUnique" serializeAs="String">
                <value>SELECT distinct task_id,proj_id FROM  taskpred where  proj_id in (select proj_id from project where proj_short_name in ({0}))</value>
            </setting>
            <setting name="TaskPredecessor" serializeAs="String">
                <value>select a.task_id ,                                                                                      
a.proj_id ,                                                                                             
a.task_code ,                                                                                           
a.task_name,
a.status_code,                                                                                            
a.early_start_date ,                                                                                    
a.early_end_date,                                                                                       
a.late_start_date ,                                                                                     
a.late_end_date,                                                                                        
a.total_float_hr_cnt,
a.remain_drtn_hr_cnt,                                                                                   
b.task_id as pred_task_id ,                                                                             
b.proj_id as pred_proj_id ,                                                                             
c.pred_type,                                                                                            
c.lag_hr_cnt,                                                                                           
b.task_code as pred_task_code ,                                                                         
b.task_name as pred_task_name ,                                                                         
b.status_code as pred_status_code,
b.early_start_date as pred_early_start_date ,                                                           
b.early_end_date as pred_early_end_date ,                                                               
b.late_start_date as pred_late_start_date ,                                                             
b.late_end_date as pred_late_end_date ,                                                                 
b.total_float_hr_cnt as pred_total_float_hr_cnt, 
b.remain_drtn_hr_cnt as pred_remain_drtn_hr_cnt,   
c.pred_type as pred_relation_type,                                                     
case                                                                                                    
when c.pred_type='PR_SS' then DATEDIFF ( day , a.early_start_date , b.early_start_date )                
when c.pred_type='PR_FF' then DATEDIFF ( day , a.early_end_date , b.early_end_date )                    
when c.pred_type='PR_SF' then DATEDIFF ( day , a.early_end_date , b.early_start_date )                  
else DATEDIFF ( day , a.early_start_date , b.early_end_date )                                           
end + (c.lag_hr_cnt/8) as delta                                                                         
from task as a,                                                                                         
taskpred as c,                                                                                          
task as b where (a.delete_date is null and b.delete_date is null and c.delete_date is null) and a.task_id=c.task_id and b.task_id=c.pred_task_id and a.proj_id  in (select proj_id from project where proj_short_name in ({0}))</value>
            </setting>
            <setting name="Calendar" serializeAs="String">
                <value>select clndr_id,clndr_name,clndr_data from calendar where clndr_id in (select distinct clndr_id from task where proj_id  in (select proj_id from project where proj_short_name in ({0})))</value>
            </setting>
            <setting name="ActivityList" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectCode" serializeAs="String">
                <value />
            </setting>
            <setting name="DisregardActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="DBString" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="MaxLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </P6FullHistory.Properties.Settings>
    </userSettings>
</configuration>